// sass/_variables.scss

// colors
$lightblue:   #C7F7FF;
$medblue:     #89C0C9;
$darkblue:    #3a5E63;
$lightbrown:  #C9A689;
$darkbrown:   #7C593C;
$lightgrey:   #d4d4d4;
$darkgrey:    #222;
$white:       #fff;

// sans-serif fonts
$sans1:       "Josefin Sans";
$sans2:       "Trebuchet MS";
$sans3:       Helvetica;
$sans4:       sans-serif;

// serif fonts
$serif1:      Cardo;
$serif2:      "Palatino Linotype";
$serif3:      "Book Antiqua";
$serif4:      Palatino;
$serif5:      serif;